<section class="vh-100" style="background-color: gray;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4">



            <button type="button" style="margin: 5px;" class="btn btn-outline-primary">+</button>
            <button type="button" style="margin: 5px;" class="btn btn-outline-primary">-</button>
            <button type="button" style="margin: 5px;" class="btn btn-outline-primary">÷</button>
            <button type="button" style="margin: 5px;" class="btn btn-outline-primary">×</button>
            


 












          </div>
        </div>
      </div>
    </div>
  </div>
</section>