<section class="vh-100" style="background-color: gray">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3" style="background-color: black;">
          <div class="card-body p-4">


            <div class="input-group input-group-lg col-sm-12 m-0 p-0">
              <div class="form-control text-xl-right" type="text">{{answer}}</div>
            </div>

            <br>

            <div style="text-align: center;">

            <button type="button" style="margin: 2px;" class="btn btn-outline-primary">+</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-primary">-</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-primary">÷</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-primary">×</button>

            </div>

            <br>
            <div style="text-align: center;">
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">0</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">1</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">2</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">3</button>

            </div>
            <br>
            <div style="text-align: center;">
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">4</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">5</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">6</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">7</button>
            </div>

            <br>
            <div style="text-align: center;">
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">8</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">9</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light">.</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-success">=</button>
            </div>

            <br>

            <div style="text-align: center;">
              <button type="button" style="margin: 2px;" class="btn btn-outline-danger btn-lg btn-block">Clear</button>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</section>