<section class="vh-100" style="background-color: gray">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3" style="background-color: black;">
          <div class="card-body p-4">

            <div class="input-group input-group-lg col-sm-12 m-0 p-0">
              <div class="col-sm-12 form-control text-lg-right" type="text">{{userInput}}</div>
            </div>

            <br>

            <div class="input-group input-group-lg col-sm-12 m-0 p-0">
              <div class="form-control text-xl-right" type="text">{{answer}}</div>
            </div>

            <br>

            <div style="text-align: center;">

            <button type="button" style="margin: 2px;" class="btn btn-outline-primary" (click)="pressOperator('+')">+</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-primary" (click)="pressOperator('-')">-</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-primary"(click)="pressOperator('÷')">÷</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-primary" (click)="pressOperator('*')">×</button>

            </div>

            <br>
            <div style="text-align: center;">
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('0')">0</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('1')">1</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('2')">2</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('3')">3</button>

            </div>
            <br>
            <div style="text-align: center;">
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('4')">4</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('5')">5</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('6')">6</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('7')">7</button>
            </div>

            <br>
            <div style="text-align: center;">
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('8')">8</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('9')">9</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-light" (click)="pressNum('.')">.</button>
            <button type="button" style="margin: 2px;" class="btn btn-outline-success" (click)="getAnswer()">=</button>
            </div>

            <br>

            <div style="text-align: center;">
              <button type="button" style="margin: 2px;" class="btn btn-outline-danger btn-lg btn-block" (click)="allClear()">Clear</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>